<div class="user">
  {{#each user in users}}
    <p>YO YO YO</p>
  {{/each}}
</div>

<div class="commits">
  {{#each notification in ghNotifications}}
    notification
    {{gh-notification name=notification.name}}
  {{/each}}
</div>
